<section class="visits">
  <body>
  	<h1>Registra una visita nueva</h1>
  	  <div role="main" class="main-content">
		<div class="autoform" id="login-edit">
    		 <%= render 'visits/form' %>
    		<p>* Todos los campos son obligatorios *</p>
		    </div>
  	  </div>
  </body>
</section>



