<section class="customers">
	<body>
	  <h1>Editar cliente</h1>
	  <div role="main" class="main-content">
		<div class="autoform" id="login-edit">
			<%= render 'form' %>
			<%= link_to 'Ver detalle', @customer, class: "btn btn-primary" %> |
			<%= link_to 'Regresar', customers_path, class: "btn btn-primary" %>
		</div>
  	  </div>
  	</body>
</section>
