<section class="customers">
  <body>
  	<h1>Registra a un cliente nuevo</h1>
  	  <div role="main" class="main-content">
		<div class="autoform" id="login-edit">
		<%= render 'form' %>
		<%= link_to 'Regresar', customers_path, class: "btn btn-primary" %>
		<p>* Todos los campos son obligatorios *</p>
		</div>
  	  </div>
  </body>
</section>
